<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lotto</title>
</head>
<body>

<--thymmeleaf-->
<h1>Wylosowano liczby to:</h1>

<p th:text="${numbers}"> </p>
</body>
</html>